@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(../fonts/Roboto-Light.ttf)  format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

p,
span,
ul,
li{
    padding:0;
    margin:0;
    font-family: "Roboto Light",sans-serif;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #42ecf5;
}

.block-card{
    max-width: 1200px;
    margin: 0 auto;
    padding:130px 15px;
}

.user-card,
.card-link{
    list-style-type: none;
    display: flex;
}

.card{
    background-color: #ffffff;
    width: 33.3333%;
    border-radius: 4px;
    margin-right: 50px;
    box-shadow: 0 0 20px 1px rgba(80,80,80,.3);
    -webkit-box-shadow: 0 0 20px 1px rgba(80,80,80,.3);
}

.card:last-child{
    margin-right:0;
}

.card-image{
    text-align: center;
    padding: 30px 0;
}

.card-image::after{
    content:'';
    background-repeat: no-repeat;
    background-image: url(../icons/ukraine.png);
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: 5px solid #ffffff;
    bottom: 6%;
    margin-left: -30px;
}

.card-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit:cover;
    border: 10px solid #f1f1f1;
}

.card-content{
    padding: 0 40px;
    text-align: center;
}

.name{
    color:#f54245;
    font-size: 24px;
    text-transform: capitalize;
    
}

.subname{
    color: #000000;
    font-size: 18px;
}

.card-desciprion{
    color: #000000;
    font-size: 14px;
    padding: 30px 0;
    line-height: 160%;
}

.card-link{
    justify-content: space-between;
    padding: 0 0 30px;
}

.link{
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover{
    background-color: #ffc7c7;
}

.link img{
    width:18px;
    height: 18px;
    display: inline-block;
}

@media only screen and (max-width: 981px){
    .card{
        margin-right:10px;
    }
}

@media only screen and (max-width: 764px){
    .user-card{
        flex-direction: column;
    }
    .card{
        width: 100%;
        margin: 0 auto;
        margin-top:20px;
    }
    .card:last-child{
        margin-right: auto;
    }
}